@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Rice Fields MotherFucker</h1>
    <p>Learn about <a href="https://www.youtube.com/watch?v=i8a3gjt_Ar0">the rice fields</a>.</p>
</div>
